<link rel="stylesheet" href="style.css">

<h1>BLOG</h1>
<p id="counter">_</p>
<script>
    // Counte the number of seconds since the page was requested.
    var counter = 0;
    var interval = setInterval(function() {
        counter++;
        document.getElementById("counter").innerHTML = counter;
    }, 1000);
    
</script>