<link rel="stylesheet" href="style.css">
<style>
    p {
        color: var(--color-bg);
    }
</style>
<a href="index.html" style="width: 100%;height: 100px;background-color: brown;">Return to correct version</a>
<h1>Landingpage</h1>
<p id="counter">_</p>
<script>
    // Counte the number of seconds since the page was requested.
    var counter = 0;
    var interval = setInterval(function() {
        counter++;
        document.getElementById("counter").innerHTML = counter;
    }, 1000);
    
</script>
<!-- Generate some random Lorem Ipsum text -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in magna tincidunt mi convallis consectetur. Maecenas facilisis et ante in mattis. Maecenas ac rutrum metus. Vestibulum suscipit enim vitae enim dignissim sagittis. Integer volutpat consectetur ipsum vitae tristique. Nam id sem sem. Curabitur nec urna lacus. Ut pretium justo sed tortor egestas, sit amet consectetur turpis lacinia. Ut vel nisl porttitor, lobortis neque pulvinar, tempor lacus. Nullam ac tempus nisi.</p>
<p>In nec tempor nibh, ac consequat enim. Integer malesuada lorem a lacinia tincidunt. Nullam aliquet vehicula dolor, id mattis elit gravida gravida. Pellentesque consequat et justo vitae sollicitudin. Nullam et pretium arcu. In ultrices, metus eu laoreet tincidunt, ligula leo dictum nulla, id rutrum lacus orci nec ex. Quisque rutrum non diam sit amet pellentesque. Nulla varius, ex at facilisis eleifend, tellus enim scelerisque sapien, eu pharetra nibh risus a ipsum. Morbi eu mattis mauris. Aenean in ante vitae nunc elementum rhoncus. Phasellus a turpis augue. Nulla enim dolor, ornare sed pellentesque quis, semper vulputate est. Mauris consectetur, ex quis egestas accumsan, leo nisl vulputate metus, id malesuada sem ipsum fermentum lacus.</p>
<p>Maecenas cursus rutrum ultricies. Proin cursus, nulla ac aliquam tempor, odio dolor rutrum libero, ac sodales dui tellus in turpis. Phasellus convallis ultricies arcu in semper. Sed a libero nec nisl venenatis elementum. Donec facilisis sem mauris, in pulvinar ipsum condimentum quis. Mauris in tellus id nisi malesuada luctus. Aliquam non purus vitae tortor rhoncus vestibulum at rutrum odio. Vivamus placerat odio vel erat aliquam finibus. Donec molestie, nisi sed ornare vestibulum, risus enim ultrices nulla, ac ullamcorper turpis mi ac lectus. Morbi lobortis vehicula eros sit amet pellentesque.</p>
<p>Aliquam nec congue ipsum. Sed elementum dui ut massa dignissim luctus. Nulla id elit in nisi blandit eleifend ac eu sem. Nullam molestie mauris at nunc faucibus hendrerit id a nunc. Donec mattis semper ante, eget laoreet ipsum elementum sit amet. Morbi accumsan feugiat elementum. Ut at dui lobortis, maximus felis ut, sodales nulla. Nulla pulvinar imperdiet pellentesque. Maecenas metus felis, feugiat quis feugiat tempus, faucibus nec justo.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque justo neque, semper nec velit nec, euismod cursus orci. Quisque tempus scelerisque eros, quis ultrices quam ornare sit amet. Cras ut justo sed diam varius commodo in ac quam. Sed fringilla ante sagittis, ornare tellus non, tempus ex. Etiam tristique urna sed sapien imperdiet fringilla. Sed dictum justo nec lobortis placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ullamcorper eros sed malesuada sollicitudin. Vestibulum imperdiet tortor nulla, sed efficitur lacus tristique luctus. Nulla iaculis fermentum porttitor. Morbi ac maximus justo, id rutrum felis. Suspendisse non justo massa. Aenean rhoncus ante libero, in tempor mi convallis vitae. Etiam nec sapien vel lacus hendrerit mattis non vitae turpis.</p>